{% extends 'admin/admin.html.twig' %}
{% block body %}
    <a href="{{ path('app_logout') }}">Выход</a>
    <h1>
        {{ title }}
    </h1>

    <h3>Praying Requests</h3>
    {% if praying is defined %}
        <ul>
            {% for pray in praying %}
                <li>{{ pray.firstName }} {{ pray.lastName }} {{ pray.description }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}